{{define "footer"}}
<footer class="text-textMuted text-xs mt-8">
  &copy; 2025
  <a
    href="https://github.com/0ceanSlim/goFrame"
    class="text-purple-400 hover:text-purple-600 mt-2"
    >pubkey-quest</a
  >, made with 💦 by
  <a
    href="https://njump.me/npub1zmc6qyqdfnllhnzzxr5wpepfpnzcf8q6m3jdveflmgruqvd3qa9sjv7f60"
    class="text-purple-400 hover:text-purple-600"
    >OceanSlim</a
  >
  <div>
    <a
      href="https://zapmeacoffee.vercel.app/npub1zmc6qyqdfnllhnzzxr5wpepfpnzcf8q6m3jdveflmgruqvd3qa9sjv7f60"
      class="text-yellow-400 hover:text-yellow-600 mt-4"
    >
      Consider buying me a ☕</a
    >
    <a
      href="https://github.com/0ceanSlim/pubkey-quest/issues"
      class="text-red-400 hover:text-red-600"
      >Feedback Encouraged!</a
    >
  </div>
  <div class="mt-2" style="color: var(--color-textMuted);">{{.Version}}</div>
</footer>
{{end}}
